!.env.example
!.env.template
*.cover
*.db
*.egg
*.egg-info/
*.key
*.log
*.pem
*.sqlite3
*.swo
*.swp
*~
.DS_Store
.coverage
.coverage-aggregate
.coverage.*
.dmypy.json
.eggs/
.env
.env.*
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints/
.mypy_cache/
.nox/
.pyre/
.pyre_configuration
.pytest_cache/
.pytype/
.ruff_cache/
.tox/
.venv
.venv/
.vscode/
ENV/
MANIFEST
build/
coverage.xml
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
ipython_config.py
lib/
lib64/
nosetests.xml
out/
output/
parts/
pip-wheel-metadata/
profile_default/
sdist/
secrets/
share/python-wheels/
var/
venv.bak/
venv/
wheels/
*.pyc

