aiohttp
apt
apt_pkg
cld3
cramjam
dotenv
ffmpeg
fitz
fontforge
gi
github
google
google_auth_oauthlib
googleapiclient
googlesearch
googletrans
huffman
hybrid_compression_benchmark
lzmamt
matplotlib
nude
nudenet
pillow_heif
pkg_resources
pycld2
reportlab
snappy
speech_recognition
tree_sitte_python
whisper
xorhash