apt
apt_pkg
dotenv
ffmpeg
fitz
fontforge
gi
github
google
google_auth_oauthlib
googleapiclient
googlesearch
googletrans
huffman
hybrid_compression_benchmark
matplotlib
nude
nudenet
pillow_heif
rapidocr_onnxruntime
reportlab
snappy
speech_recognition
tree_sitte_python
tree_sitter_languages
whisper
xorhash